@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.logo {
  display: block;
  max-width: 70%;
}
.logo img {
  width: 100%;
}
header {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
.main_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 20px auto 0 auto;
  position: relative;
}
.burger_icon {
  display: inline-block;
  background: transparent;
  border: none;
  position: relative;
  width: 30px;
  height: 22px;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  z-index: 10;
}
.burger_icon::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  left: 0;
  top: 0;
  background: #585655;
  transition: inherit;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -ms-transition: inherit;
  -o-transition: inherit;
}
.burger_icon span {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  left: 0;
  top: 10px;
  background: #585655;
  transition: inherit;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -ms-transition: inherit;
  -o-transition: inherit;
}
.burger_icon::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #585655;
  transition: inherit;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -ms-transition: inherit;
  -o-transition: inherit;
}
.burger_icon.active::before {
  top: 10px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
.burger_icon span.active {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
.burger_icon.active::after {
  bottom: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.burg_collapse {
  position: absolute;
  left: 0;
  background: #fff;
  width: 100%;
  top: -1000px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  padding-bottom: 40px;
}
.burg_collapse.active {
  top: 0;
}
.menu_collapse li {
  position: relative;
  padding: 11px 26px 11px 26px;
  border-bottom: 1px solid transparent;
}
.menu_collapse .main {
  border-color: #2d89ef;
}
.menu_collapse .product {
  border-color: #603cba;
}
.menu_collapse .services {
  border-color: #01a31c;
}
.menu_collapse .about_us {
  border-color: #d44a26;
}
.menu_collapse .contacts {
  border-color: #f0a427;
}
.menu_collapse li.active::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  bottom: -6px;
  left: 49%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 6px solid #2d89ef;
}
.menu_collapse li + li.active::before {
  border-top-color: #603cba;
}

.menu_collapse li + li + li.active::before {
  border-top-color: #01a31c;
}

.menu_collapse li + li + li + li.active::before {
  border-top-color: #d44a26;
}

.menu_collapse li + li + li + li + li.active::before {
  border-top-color: #f0a427;
}
.menu_collapse li a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}
.search_box {
  margin: 30px 0px 0px 26px;
  position: relative;
  width: 228px;
  outline: 1px solid #cccccc;
  padding: 12px 17px;
  box-sizing: border-box;
}
.search_box #search {
  display: inline-block;
  width: 88%;
  padding: 0;
  font-size: 12px;
  border: none;
  vertical-align: middle;
}
.search_box #search:focus {
  outline: none;
}
.search_box button {
  display: inline-block;
  position: relative;
  background: transparent;
  border: none;
  padding: 0;
  vertical-align: middle;
}
.search_box button svg {
  color: #cccccc;
}
.download_price {
  width: 228px;
  display: block;
  margin: 30px 0px 0px 26px;
  padding: 12px 17px;
  color: #fff;
  background: #0064cd;
  box-sizing: border-box;
  font-size: 12px;
}
.download_price svg {
  display: inline-block;
  padding-right: 5px;
  vertical-align: middle;
}
.preview_product {
  width: 100%;
  margin-top: 100px;
}
.container_preview_product {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
}
.container_preview_product .images_product {
  display: block;
  border: 3px solid #f1f1f1;
  margin-top: 30px;
  width: 100%;
}
.container_preview_product h2 {
  font-size: 36px;
  font-weight: 300;
}
.btns_description {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 20px;
}
.btns_description .descrp_prod > svg,
.btns_description .downl_prod > svg,
.btns_description .examp_prod > svg,
.btns_description .video_prod > svg {
  float: left;
  margin: 0 20px 10px 0;
}
.btns_description .video_prod > svg {
  width: 38px;
}
.btns_description .descrp_prod,
.btns_description .downl_prod,
.btns_description .examp_prod,
.btns_description .video_prod {
  padding: 14px 17px;
  color: #fff;
  position: relative;
  text-align: right;
}
.btns_description .descrp_prod a,
.btns_description .downl_prod a,
.btns_description .examp_prod a,
.btns_description .video_prod a {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  top: 0;
  left: 0;
}
.btns_description .descrp_prod p,
.btns_description .downl_prod p,
.btns_description .examp_prod p,
.btns_description .video_prod p {
  font-size: 18px;
  text-align: left;
}
.btns_description .descrp_prod p + p,
.btns_description .downl_prod p + p,
.btns_description .examp_prod p + p,
.btns_description .video_prod p + p {
  font-size: 12px;
  margin-top: 10px;
}
.btns_description .descrp_prod {
  background: #603cba;
}
.btns_description .downl_prod {
  background: #00a300;
  margin-top: 15px;
}
.btns_description .examp_prod {
  background: #2b5797;
  margin-top: 15px;
}
.btns_description .video_prod {
  background: #ffc40d;
  flex-grow: 1;
  margin: 15px 0 0 0px;
}
.btns_description .arrow_circle {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: 2px solid #fff;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  right: 17px;
  bottom: 14px;
}
.btns_description .arrow_circle svg {
  display: inline-block;
  position: relative;
  top: 6px;
  left: -5px;
}
.btns_description .descrp_prod > svg,
.btns_description .video_prod > svg {
  margin-bottom: 40px;
}
.clearfix {
  clear: both;
}
.description {
  margin-top: 28px;
  width: 100%;
}
.container_descrp {
  max-width: 1140px;
  margin: 0 auto;
}
.container_descrp h2 {
  font-size: 24px;
  font-weight: 300;
  color: #000;
}
.container_descrp p {
  color: #000;
  font-size: 14px;
  margin-top: 15px;
  line-height: 18px;
}
.container_descrp p + p {
  margin-top: 25px;
}
.container_descrp .creen_box,
.container_descrp .orange_box,
.container_descrp .blue_box {
  margin-top: 27px;
  padding: 15px 30px 30px 36px;
  position: relative;
  outline: 2px solid #cccccc;
}

.container_descrp .creen_box p,
.container_descrp .orange_box p,
.container_descrp .blue_box p {
  margin-top: 12px;
  font-size: 14px;
  line-height: 18px;
}
.container_descrp .creen_box h3 {
  color: #00a300;
  font-size: 24px;
  font-weight: 300;
}
.container_descrp .orange_box h3 {
  color: #ffc40d;
  font-size: 24px;
  font-weight: 300;
}
.container_descrp .blue_box h3 {
  color: #2d89ef;
  font-size: 24px;
  font-weight: 300;
}
.container_descrp .creen_box::before,
.container_descrp .orange_box::before,
.container_descrp .blue_box::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 100%;
  z-index: 5;
}

.container_descrp .creen_box::before{
  background: #00a300;
}
.container_descrp .orange_box::before{
background: #ffc40d;
}
.container_descrp .blue_box::before{
background: #2d89ef;
}
.callback{
  margin-top: 30px;
  padding-bottom: 34px;
}
.container_footer{
  max-width: 1140px;
  margin: 0 auto;
  background: #f1f1f1;
}
.textbox_callback{
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  background: #c3325f;
  padding: 19px 54px 14px 14px;
  position: relative;
  display: flex;
}
.textbox_callback::before{
  content: "";
  position: relative;
  display: inline-block;
  width: 30px;
  height: 31px;
  background: url(../img/paper_plane.svg);
}
.textbox_callback h4{
  margin-left: 8px;
}
.textbox_callback::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 31px;
  border-top: 10px solid #c3325f;
  border-left: 10px solid #c3325f;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
}
#form_callback{
  padding: 18px;
}
#form_callback>div{
  display: flex;
  flex-direction: column;
}
#form_callback>div>div:first-child{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#form_callback>div>div:last-child {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#form_callback>div input,
#form_callback>div select,
#form_callback>div textarea{
  display: inline-block;
  border: 2px solid #bababa;
  padding: 7px 8px 0 8px;
  color: #000;
  font-size: 14px;
  margin-bottom: 18px;
}
#form_callback>div textarea {
  height: 100%;
}
#form_callback>div input,
#form_callback>div select{
  padding: 7px 8px 7px 8px;
}
#form_callback>div input::placeholder,
#form_callback>div textarea::placeholder {
  color: #000;
  font-size: 14px;
}
#form_callback .submit_callback{
  width: max-content;
  padding: 11px 27px;
  background: #c3325f;
  border: none;
  color: #fff;
  align-self: center;
}
.text_bottom{
  max-width: 1140px;
  background: #f1f1f1;
  margin-top: 28px;
  font-size: 12px;
  padding: 20px 20px;
  box-sizing: border-box;
}
.main_menu,
.container_preview_product,
.container_descrp,
.container_footer,
.text_bottom {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 576px) {
  .preview_product {
    margin-top: 120px;
  }
  .btns_description .video_prod {
    margin: 15px 0 0 15px;
    flex-basis: 28%;
    flex-grow: 0;
  }
  .btns_description .descrp_prod {
    flex-basis: 100%;
    margin-top: 15px;
  }
  .btns_description {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .btns_description .downl_prod > svg {
    margin-top: 10px;
  }
  .btns_description .downl_prod {
    height: 100%;
    margin-top: 0px;
  }
  .btns_description .examp_prod {
    height: 100%;
  }
  .btns_description .descrp_prod > svg {
    margin-bottom: 70px;
  }
  .btns_description .box_to {
    align-items: stretch;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
    #form_callback>div>div:first-child {
      margin-right: 18px;
    }
        #form_callback>div {
          flex-direction: row;
          flex-wrap: wrap;
          align-items: stretch;
        }
                #form_callback>div input[type="tel"]{
                  margin-bottom: 0;
                }
                                #form_callback .submit_callback {
                                  align-self: flex-start;
                                }
}
@media screen and (min-width: 768px){

}
@media screen and (min-width: 992px) {
  .logo {
    flex-shrink: 0;
    max-width: 100%;
  }
  header{
    z-index: 5;
  }
  .burger_icon {
    display: none;
  }
  .burg_collapse {
    position: relative;
    top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-bottom: 0px;
  }
  .menu_collapse .main:hover a {
    color: #2d89ef;
  }
.container_preview_product h2{
  width: 50%;
  margin-top: -30px;
}
  .menu_collapse .product:hover a {
    color: #603cba;
  }

  .menu_collapse .services:hover a {
    color: #01a31c;
  }

  .menu_collapse .about_us:hover a {
    color: #d44a26;
  }

  .menu_collapse .contacts:hover a {
    color: #f0a427;
  }
  .main_menu {
    align-items: flex-start;
    margin: 30px auto 0 auto;
  }
  .menu_collapse {
    display: flex;
    justify-content: flex-end;
  }
  .menu_collapse li {
    flex-shrink: 0;
  }
  .menu_collapse li + li {
    margin-left: 6px;
  }
  .menu_collapse li.active::before {
    left: 44%;
  }
  .preview_product {
    margin-top: 120px;
  }
  .width_box {
    flex-basis: 100%;
  }
  .download_price {
    margin-left: 0;
    margin-top: 30px;
  }
  .search_box {
    margin-top: 30px;
  }
  .container_preview_product {
  }
  .container_preview_product > div {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-top: 27px;
    flex-grow: 1;
  }
  .container_preview_product > div .images_product {
    width: 68%;
    margin-top: 0;
    margin-left: 24px;
  }
  .btns_description {
    margin-top: 0;
  }
  .btns_description .descrp_prod {
    margin-top: 0px;
  }
  header {
    position: relative;
  }
  .preview_product {
    position: relative;
    margin-top: 0px;
    z-index: 10;
  }
  .btns_description .descrp_prod:hover,
  .btns_description .downl_prod:hover,
  .btns_description .examp_prod:hover,
  .btns_description .video_prod:hover {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
  }
}
@media screen and (min-width: 1140px) {
  .container_preview_product > div .images_product {
    flex-basis: 54%;
  }
  .btns_description .video_prod {
    margin: 27px 0 0 27px;
  }

  .btns_description .downl_prod {
    margin-top: 27px;
  }

  .btns_description .examp_prod {
    margin-top: 27px;
  }
  .btns_description .box_to {
    margin-top: 0;
  }
    .main_menu,
    .container_preview_product,
    .container_descrp,
    .container_footer,
    .text_bottom {
      margin-left: auto;
      margin-right: auto;
    }
}
